* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ubuntu", sans-serif;
    overflow-x: hidden;

}

html {
    scroll-behavior: smooth;
}
.AboutUs {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("hackimg/aaabstract (1).jpg");
    background-size: contain;
    background-size: cover;

}
.about {
    color: black;
}
.content {
    height: 70vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content>h1 {
    font-size: 5rem;
}